.menuItemDetail > div {
    width: 95%;
}
.menuItemDetail > .itemInfo {
    margin-top: 70px;
    margin-bottom: 10px;
    width: 95%;
    margin-left: 2.5%;

}
.menuItemDetail > .itemInfo > .itemImg {
    text-align: center;
    border: none;
    border-radius: 7px;
    background-color: #F8F8F8;
}
.menuItemDetail > .itemInfo > .itemImg > img {
    width: 60%;
}
.menuItemDetail > .itemInfo > .itemName {
    border-bottom: 1px solid #EEEEEE;
}
.menuItemDetail > .itemInfo > .itemName > h1{
    font-size: 28px;
    color: #1A1A1A;
}
.menuItemDetail > .itemInfo > .itemDescription > h1 {
    font-size: 16px;
}
.menuItemDetail > .itemInfo > .itemDescription > span {
    color: #00000099;
    font-size: 12px;
}
.menuItemDetail > .itemInfo > .itemPrice {
    padding-top: 20px;
    height: 29px;
}
.menuItemDetail > .itemInfo > .itemPrice > span {
    font-size: 23px;
    font-weight: 600;
}
.menuItemDetail > .addToCart {

}
.menuItemDetail > .addToCart > button {
    background-color: #FF7800;
    color: white;
    font-size: 17px;
    text-align: center;
    margin-left: 5%;
    width: 95%;
    border: none;
    border-radius: 10px;
    padding: 10px 20%;
    
}