.allMenu {
    width: 100%;
    max-width: 400px;
    padding-bottom: 80px;
}

.allMenu > h1 {
    color: #272727;
    font-size: 22px;
    padding: 15px;
}

.allMenu > .menuCategories {
    width: 95%;
    margin: auto;
}
.allMenu > .menuCategories >a > .meunCategoryItem {
    width: 48%;
    height: 127px;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    border-radius: 10px;
    border: none;
    background: none;
    cursor: pointer;
}
/* .allMenu > .menuCategories >.meunCategoryItem > img {

} */
.allMenu > .menuCategories> a >.meunCategoryItem > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}